html, body {
    height: 100vh;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}


body {
    max-width: 1024px;
    margin: auto;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
}

code {
    font-family: sans-serif;
    text-decoration: underline;
}

kbd {
    background-color: #e0e0e0;
    border-style: outset;
    color: black;
    padding: 0.25em;
    display: inline-block;
}

hr {
    width: 100%;
}

progress {
    width: 100%;
}

.trial {
    height: 500px;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
}

.response {
    height: 100px;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;

}

#aim {
    font-size: 100px;
}

#prime {
    font-size: xx-large;
}

#prime.positive {
    color: green;
}

#prime.negative {
    color: red;
}

.feedback.valid {
    color: green;
}

.feedback.invalid {
    color: red;
}
