html, body {
    height: 100vh;
    margin: 0;
    padding: 0;
}

code {
    text-decoration: underline;
}

kbd {
    background-color: #e0e0e0;
    border-style: outset;
    color: black;
}

otree-page {
    height: 100%;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
}

otree-page hr {
    width: 50%;
}

.main {
    height: 500px;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
}

.response {
    height: 100px;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
}

otree-stimulus#aim {
    font-size: 100px;
}

otree-stimulus#prime {
    font-size: xx-large;
}


kbd {
    background-color: #e0e0e0;
    border-style: outset;
    color: black;
}

.choice {
    text-decoration: underline;
}

.buttons {
    display: flex;
    flex-flow: row;
}

.buttons otree-button {
    margin: 1em;
}

otree-start {
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.touchable {
    position: relative;
    width: 100%;
}

otree-touch {
    position: absolute;
    height: 100%;
    width: 50%;
}

otree-touch.left {
    left: 0;
}

otree-touch.right {
    right: 0;
}