.trial {
    height: 500px;
    width: 100%;
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: space-evenly;
}

.box {
    width: 100px;
    height: 100px;
    border: 2px solid black;
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: center;
}

.aim {
    width: 100px;
    height: 100px;
    text-align: center;
}

.feedback {
    text-align: center;
}

.cue {
    font-size: 50px;
}

.target {
    font-size: 100px;
}